.wrapper {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;
    background: rgb(0, 0, 0);
    padding: 20px;
    margin: auto;
    border-radius: 15px;
}

.memorized {
    color: black;
    background-color: yellow;
    border-radius: 20px;
}

.sura-cell {
    border-radius: 15px;
    background: #73AD21;
    padding: 20px;
    font-weight: 700;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.sura_name_label {
    font-weight: 800;
}

.sura-cell:hover {
    background: rgb(0, 255, 0);
}

.sort_label {
    padding: 20px;
    font-weight: 800;
    font-size: 14;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}