h1 {
    color: rgba(0,255,0,1);
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    /* grid-auto-columns: 100px; */
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    background: rgb(0, 0, 0);
    padding: 10px;
    margin: auto;
    border-radius: 15px;
}

.fulljustify {
    text-align:justify;
}

.memorized {
    /*color: black;*/
    background-color: yellow;
    border-radius: 20px;
}

.old-memorized {
    color: white;
    background-color: red;
    border-radius: 20px;
}

.sura-cell {
    border-radius: 15px;
    /* background: url("images/desert.jpg");   */
    padding: 10px;
    font-weight: 700;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;    
}

.sura_name_label {
    font-weight: 800;
    font-size: 14px;
}

.selected {
    border: thick solid rgb(0,0,255);
}

.sort_label {
    padding: 20px;
    font-weight: 800;
    font-size: 14;
}

@keyframes beat{
	to { transform: scale(1.1); }
}

.sura-cell:hover {
	/* font-size: 150px; */
    /* color: #e00; */
    border: thick solid yellow !important;
	animation: beat .4s infinite alternate;
	transform-origin: center;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.char-count
{
    /* position:fixed; */
    float: left;
    font-size: 12px;
    /* bottom:5;
    left:5; */
    /* margin-bottom: 5px;
    margin-left : 5px; */
    /* width: 200px;
    height: 200px; */
    /* background-color: red;
    color: green; */
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

#share-buttons img {
    width: 35px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline;
    }

    